<div class="container">
    <div class="row row-content">
        <div class="col col-12">
            <h1>Latest News</h1>
        </div>
    </div>
    <div class="row row-content">
        <div *ngFor="let article of articles" class="col col-12 col-md-3">
            <div class="card">
            <img src="{{article.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">{{article.title}}</h6>
                    <p class="card-text">{{article.description}}</p>
                    <a routerLink="/article/{{article.uniqueId}}">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
