
<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container">
        <a class="logo" routerLink=""><h1>NEWS PORTAL</h1></a>
        <div class="header-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">Login</li>
            </ul>        
        </div>
    </div>
</nav>

<div class="container container-top"></div>