
.navbar-dark {
    overflow: hidden;
    background-color: #5B5B5B;
    color: white;
    padding: 20px 10px;
  }

.navbar h1{
        display: block;
        font-size: 2em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: normal;
}

.header-right{
      float: right;
      padding-right: 1rem;
}

.row-content{
      margin: 0px auto;
      padding: 20px 0px 0px 0px;
}

.container-top{
      padding-top: 78px ;
}

.logo {
      color: white;
      text-decoration: none;
}