
<div class="article-header">
    <img class="article-img img-fluid w-100" src="{{article.urlToImage}}"/>    
</div>
<div class="container">
    <div class="row row-content">
        <div class="col col-12">
            {{article.publishedAt | date: "yyyy-MM-dd"}}
        </div>
    </div>
    <div class="row row-content">
        <div class="col col-12">
            <h1>{{article.title}}</h1>
        </div>
    </div>
    <div class="row row-content">
        <div class="col col-12">
            <h3>{{article.description}}</h3>
        </div>
    </div>
    <div class="row row-content">
        <div class="col col-12">
            <p style="white-space: pre-line">{{article.content}}</p>
        </div>
    </div>
    <div class="row row-content">
        <div class="col col-12">
            <div class="card card-body bg-light rounded mb-4">
            <blockquote class="blockquote">
                <footer class="blockquote-footer"><i><b>{{article.author}}</b>,  <span *ngIf="article.source" >{{article.source.name}}</span></i>
                <p><a href="{{article.url}}"><i>{{article.url}}</i></a></p>
                </footer>
              </blockquote>
            </div>
        </div>
    </div>
</div>
