<div class="media">
    <div class="col col-12 col-sm-2">
        <img class="mt-2 img-fluid rounded" src="{{article.urlToImage}}" alt="Generic placeholder image">
    </div>
    <div class="col col-12 col-sm-10 media-body">
        <h5 class="mt-0">{{article.title}}</h5>
        <p>
            <i>{{article.publishedAt | date: 'yyyy-MM-dd'}}</i>
            <span class="ml-2 badge badge-secondary">{{article.source.name}}</span>
        </p>
        <p><a class="article-description" routerLink="/article/{{article.uniqueId}}">{{article.description}}</a></p>
    </div>
</div>