<div class="container ">
    <div class="row row-content">
        <div class="col col-12">
            <div id="carouselTopNews" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let article of topNewsArticles" class="carousel-item " [class.active]="true">
                        <img class="d-block w-100" src="{{article.urlToImage}}" alt="{{article.title}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{article.title}}</h1>
                            <p>{{article.description}}</p>
                            <a routerLink="/article/{{article.uniqueId}}">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>