<div class="container">
    <div class="row row-content">
        <div class="col col-10"><app-search-input></app-search-input></div>
        <div class="col col-2"><app-search-button></app-search-button></div>
    </div>
</div>
<app-top-news></app-top-news>
<app-latest-news></app-latest-news>