<div class="container">
    <div class="row row-content">
        <div class="col col-12"><app-search-input></app-search-input></div>
    </div>
    <div class="row row-content">
        <div class="col col-12"><h3> Search - {{articles.length}} News</h3></div>
    </div>
    <div *ngFor="let article of articles" class="row row-content">  
        <app-search-result-item [article]="article"></app-search-result-item>
    </div>
</div>